nav {
    background-color: #D4D4D4;
}

nav ul,
nav li {
    margin: 0;
    padding: 0;
}

nav > ul {
    display: flex;
    gap: 10px;
    padding: 10px;
}

nav > ul > li {
    background-color: #9e9e9e;
    list-style: none;
    border: 1px solid red;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

nav > ul > li > ul {
    display: none;
}

nav > ul > li:hover > ul {
    display: block;
}